- content_for(:head) do
  %script{type: 'text/javascript', src: "/charts/timeseries.js"}
  %script{type: 'text/javascript', src: "/charts/horizon.js"}
  :javascript
    $data.width = 800
    $data.height = 100
    $data.file = "#{@file}";
    $data.yMax = #{@y_max};
    $data.density = 15
    $data.apdex_t = #{@apdex_t};
    $data.value_index = #{@value_index};
    $data.filter = "#{@filter_label}";
    $data.only = "#{@only ? '1' : '0'}";

  :css
    #horizon-controls {
      width: 940px;
      padding: 10px;
      z-index: 1;
    }
    .form-inline {
      margin-bottom: 24px;
    }
    .checkbox {
      margin-left: 24px;
    }
    #logTransformGroup, #densityGroup, #apdexTGroup {
      display: none;
    }
    .sparkline .name {
      text-align: right;
    }
  :javascript


.row
  .span4
    #horizon-controls.form-inline
      %span#horizon-bands
        %span#horizon-bands-value 1
        %button.first &#x2212
        %button.last +
      %label.checkbox.inline
        %input#unnormalized{type: 'checkbox', name: 'normalized', value: 'true', onchange: 'refreshData();'}
        Use local Y Max
      %img.horizon.busy{src:'/images/busy.gif', style: 'display:none'}

.row
  .span12
    #horizon-chart

:javascript

  horizonInit(d3.select("#horizon-chart"));
  $data.dispatch.reloadData();
