- content_for(:head) do
  %script{type: 'text/javascript', src: "/charts/timeseries.js"}
  %script{type: 'text/javascript', src: "/charts/histogram.js"}
  %script{type: 'text/javascript', src: "/charts/summary_numbers.js"}
  :javascript
    $data.file = "#{@file}";
    $data.yMax = #{@y_max};
    $data.density = #{@density};
    $data.apdex_t = #{@apdex_t};
    $data.value_index = #{@value_index};
    $data.filter = "#{@filter_label}";
    $data.only = "#{@only ? '1' : '0'}";
    $data.width = 800;
    $data.height = 300;

  :css
       .axis path,
       .axis line {
         fill: none;
         stroke: #000;
         shape-rendering: crispEdges;
       }
       .axis text {
         font: 13px sans-serif;
        }
       .series {
         fill: none;
         stroke-width: 2.5px;
       }
       .clickrect {
         fill: #F6F6F6;
         stroke: #999;
         stroke-width: 2px;
       }
       .legend { 
         font-size: 12px;
       }
       rect.legenditem { 
          fill: #FFD;
          stroke: black;
          stroke-width: 1px;
       }
       .legenditem line {
       }
       #summary-values {
         
       }
       div.summary-row {
         display: table-row;
         position: relative;
         float: none;
       }
       div.summary-item {
         border: solid 2px #666;
         display: inline;
         position: relative;
         float: left;
         margin: 6px;
         padding: 8px;
         width: 160px;
       }       
       .summary-item div {
         text-align: center;
         font-size: 14px;
       }
       .summary-item span.value {
         font-size: 24px;
         text-align: center;
       }
       .summary-item span.units {
         font-size: 18px;
         text-align: center;
       }
       .summary-item div.bg {
         position: absolute;
         float: left;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         opacity: 0.2;
       }
       div.outliers {
         background: rgba(220,220,220,0.5);
         padding: 6px;
         font-size: 16px;
         border-width: 2px;
         xleft: 750px;
         xwidth: 120px;
         xtop: -80px;
       }
      .chart-row-section {
        position: relative;
        clear: both;
      }

.row
  #timeseries-sect.span12
    %h1 
      Timeseries Plots
      %img.timeseries.busy{src:'/images/busy.gif', style: 'display:none'}
    %p 
      Click on any item in the legend to toggle its display
    #timeseries
.row
  .span12
    %h1 
      Response Time Distribution
      %img.histogram.busy{src:'/images/busy.gif', style: 'display:none'}
    %p
      Show a histogram with summary bars at the different statistical aggregates: mean, median, 95 percentile, etc
    #histogram

.row
  .span12
    %h1
      %span#range All Data
      %button#reset{style: 'display: none', onClick: 'resetSelection();'}
        RESET
    #summary-values-sect

:javascript
  // This defines the attributes of the timeslice record that are in the legend of the plot.
  var plots = ["mean", "mode", "median", "apdex", "rpm"];
  timeseriesInit(d3.select("#timeseries"), plots);
  histogramInit(d3.select("div#histogram"));
  summaryInit(d3.select("div#summary-values-sect"));
  $data.dispatch.reloadData();
