- content_for(:head) do
  %script{type: 'text/javascript', src: "/charts/timeseries.js"}
  %script{type: 'text/javascript', src: "/charts/traffic.js"}
  :css
    #logTransformGroup, #apdexTGroup {
      display: none;
    }


  :javascript
    $data.file = "#{@file}";
    $data.width = 800;
    $data.height = 200;
    $data.yMax = #{@y_max};
    $data.density = #{@density};
    $data.apdex_t = #{@apdex_t};
    $data.value_index = 3;
    $data.filter = "#{@filter_label}";
    $data.only = "#{@only ? '1' : '0'}";

.row
  #display.span12
    %p#readout
.row
  #timeseries.span12

:javascript
  initTraffic(d3.select("#display"));
  $data.dispatch.on("reloadData.traffic", function(switchedFile)  {
       d3.json("/data/raw/"+$data.file + "?" +
        "only=" + $data.only + "&" +
        "filter=" + $data.filter, function(error, json) {
         updateTraffic(error, json, d3.select("#display"));
       });
  });

  // This defines the attributes of the timeslice record that are in the legend of the plot.
  var plots = ["mean", "mode", "median", "apdex", "rpm"];
  timeseriesInit(d3.select("#timeseries"), plots);
  $data.dispatch.reloadData();
